* {
  padding: 0;
  margin: 0;
}
body {
  background: #1D1C1F;
}
.div-nav {
  background: #BF3044;
}
ul {
  list-style: none;
  font-size: 21px;
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
  padding-bottom: 25px;
}
li {
  margin-right: 40px;
}
a {
  color: white;
  text-decoration: none;
}
.name {
  text-align: center;
  padding: 200px 300px;
}
h1 {
   font-size: 42px;
   color: white;
}
h2 {
  color: #BF3044;
  font-weight: 70;
}
.project {
  background: #44567D;
  padding: 100px 100px;
  text-align: center;
}
h3 {
  color: white;
  font-size: 48px;
  text-decoration: underline;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  margin: auto;
}
.card > a {
  text-decoration: none;
  margin-top: 50px;
}
span {
  opacity: 0;
  color: orange;
}
.card > a:hover span{
  opacity: 1;
  font-size: 18px;
}
img { 
  display: block;
  width: 400px;
  height: 350px;
}
p {
  font-size: 18px;
  background: #303840;
  padding: 15px 30px 15px;
}
#showmore {
  display: inline-block;
  background: #303840;
  font-size: 18px;
  margin-top: 50px;
  padding: 10px;
}
#showmore:hover {
  background: #BF3044;
}
footer {
  background: #303840;
  text-align: center;
  padding: 150px 20px;
}
footer > h3 {
  text-decoration: none;
}
footer > h4 {
  color: white;
  font-size: 16px;
  font-weight: 70;
}
.div-contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 50px;
}
.div-contact > a {
  font-size: 1.5em;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: margin 0.5s ease-out;
}
.div-contact > a:hover {
  cursor: pointer;
  margin-top: 10px;
}
